@charset "UTF-8";


div.page
{
 display: flex;
 justify-content: center;
 align-items: center;
}

div.check
{
 text-align: center;
}

table
{
 border-collapse: collapse;
}

table th, table td
{
 text-align: center;
 border: solid 1.5px black;
}

